body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(135deg, #6f49b6, #b32616);
    color: #ffffff;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ffffff;
}
p.subtitle {
    font-size: 1.2em;
    color: #555;
}

.left-column {
    width: 40%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    
    width: 45%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    float: left;
    transition: transform 0.3s ease-in-out;
}

.cat-meme-container {
    position: relative;
    display: inline-block;
    width: 50%;
    margin: 2%;
    padding: 15px;
    border: 3px solid #ddd;
    border-radius: 20px;
    background-color: #b316ab;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.692);
    
}
.cat-meme-container iframe {
    width: 100%;
    align-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
}
.project-header {
    color: #000;
}
.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card {
    width: calc(50% - 20px);
    /* Вычисляемая ширина с учетом отступов */
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    float: left;
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        clear: both;
    }
    .left-column {
        width: 100%;
        float: none;
    }
    p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
        /* Вычисляемая ширина на мобильных устройствах */
        clear: both;
        /* Очистка float на мобильных устройствах */
    }
    .left-column {
        width: 100%;
        float: none;
    }
}

.project-description {
    color: #777;
    font-size: 0.9em;
    margin-top: 10px;
}

