.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

/* цвет фона: #465f68;*/
/* цвет шрифта: white; */
.item {
    background-color: #465f68;
    color: white;

}

.expands {}

.fixed {
    width: 300px;
    height: 100px;
}

.flexible {
    width: minmax(200px, 300px);
}