.container {
    display: grid;
    grid-template-columns: 300px auto minmax(200px, 300px);
    grid-template-rows: 100px 100px 100px 70px;
    gap: 10px;
}

/* цвет фона: #465f68;*/
/* цвет шрифта: white; */
.item {
    background-color: #465f68;
    color: white;
    text-align: center;
    align-content: center;

}

